/* 
================================================
page and base element styles
================================================ 
*/

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;  /*   =10px   */
}

body {
    font-family: "Sintony", sans-serif;
    line-height: 1.3;
    color: rgba(15,20,24,1);  /* black */
    background: rgba(150,230,179,.2);  /* light green */
    font-size: 14px; 
    font-size: 1.4rem;
    max-width: 100%;
}



/* 
================================================
header
================================================ 
*/





/* 
================================================
input form and placeholders
================================================ 
*/






/* 
================================================
subscriber contact info
================================================ 
*/






/* 
================================================
newsletter signup
================================================ 
*/





/* 
================================================
signup button
================================================ 
*/






/* 
================================================
focus indicators and transition properties
================================================ 
*/







/* 
================================================
footer
================================================ 
*/






/* 
================================================
================================================
media query min-width 768px
================================================
================================================  
*/







/* 
================================================
================================================
media query min-width 1024px
================================================
================================================  
*/








