/*
================================================
page and base element styles
================================================
*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;  /*  =10px  */
}

body {
    background: rgba(150,230,179,.1);  /* light green */
    color: rgba(107,91,149,1);  /* purple */
    /* color: rgba(15,20,24,1);   black */
    font-family: "Sintony", sans-serif;
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 1.3;
    margin: 0 auto;
    max-width: 100%;
}

header {
    display: block;
    text-align: center;
}

h1 {
    background: rgba(107,91,149,1);  /* purple */
    color: rgba(150,230,179,1);  /* light green */
    font-family: "Source+Sans+Pro:900", sans-serif;
    font-size: 30px;
    font-size: 3rem;
    margin: 0 auto;
    padding: 2rem 0;
}

h2 {
    color: black;
    font-size: 20px;
    font-size: 2rem;
    margin: 0 auto;
    padding: 2rem 1rem 0;
}


.tagline {
    padding: 0 1.5rem 0;
}

.header-bottom-line {
    border-bottom: rgb(218,62,82,1) solid 4px;   /* red  */
    margin: 0 auto .3rem;
    max-width: 90%;
}

.flex-container {
    border-top: rgb(218,62,82,1) solid 2px;  /* red  */
    display: flex;
    flex-direction: column;
    align-self: auto;
    margin: 0 auto;
    max-width: 90%;
}

/*
================================================
input form and placeholders
================================================
*/

form {
    align-self: center;
    max-width: 100%;
    width: 100%;
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
  }

/* WebKit, Edge */
input::-webkit-input-placeholder {
    color: rgba(15,20,24,.5);   /*  black  */
    font-size: 1rem;
    font-style: italic;
    text-align: right;
}

/* Firefox 4-18 */
input:-moz-placeholder {
    color: rgba(15,20,24,.5);   /*  black  */
    font-size: 1rem;
    font-style: italic;
    text-align: right;
    opacity: 1;
}

/* Firefox 19+ */
input::-moz-placeholder {
    color: rgba(15,20,24,.5);   /*  black  */
    font-size: 1rem;
    font-style: italic;
    text-align: right;
    opacity: 1;
}

/* IE 10-11 */
input:-ms-input-placeholder {
    color: rgba(15,20,24,.5);   /*  black  */
    font-size: 1rem;
    font-style: italic;
    text-align: right;
}

/* Edge */
input::-ms-input-placeholder {
    color: rgba(15,20,24,.5);   /*  black  */
    font-size: 1rem;
    font-style: italic;
    text-align: right;
}

/* modern browser */
input::placeholder {
    color: rgba(15,20,24,.5);   /*  black  */
    font-size: 1rem;
    font-style: italic;
    text-align: right;
}



/* textarea placeholders =============== */

/* WebKit, Edge */
textarea::-webkit-textarea-placeholder {
    color: rgba(150,230,179,1);
    font-size: 1rem;
    font-style: italic;
    text-align: left;
}

/* Firefox 4-18 */
textarea:-moz-placeholder {
    color: rgba(15,20,24,.5);
    font-size: 1rem;
    font-style: italic;
    text-align: left;
    opacity: 1;
}

/* Firefox 19+ */
textarea::-moz-placeholder {
    color: rgba(15,20,24,.5);
    font-size: 1rem;
    font-style: italic;
    text-align: left;
    opacity: 1;
}

/* IE 10-11 */
textarea:-ms-textarea-placeholder {
    color: rgba(15,20,24,.5);
    font-size: 1rem;
    font-style: italic;
    text-align: left;
}

/* Edge */
textarea::-ms-textarea-placeholder {
    color: rgba(15,20,24,.5);
    font-size: 1rem;
    font-style: italic;
    text-align: left;
}

/* modern browser */
textarea::placeholder {
    color: rgba(15,20,24,.5);
    font-size: 1rem;
    font-style: italic;
    padding-left: 1rem;
    text-align: left;
}

/*
================================================
subscriber contact info
================================================
*/

.contact-info {
    border: none;
    border-bottom: rgb(218,62,82,1) solid 2px;  /* red  */
    width: 100%;
}

legend {
    color: black;
    font-size: 2rem;
    padding: 2rem 0;
}

.contact-info
input,
select {
        background-color: white;  /*  white  */
        border: none;
        box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
        border-radius: .5rem;
        color: rgba(107,91,149,1);  /* purple */
        height: 3rem;
        margin: .5rem 0 2.5rem;
        padding: .6rem .8rem .5rem .8rem;
        width: 100%;
}

.select-state-prov {
    display: block;
    font-size: 14px;
    font-size: 1.4rem;
    font-family: sans-serif;
    font-weight: 400;
    color: rgba(107,91,149,1);  /* purple */
    line-height: 1rem;
    height: 3.5rem; /* added */
    width: 100%;
    box-sizing: border-box;
    margin: .5rem 0 2.5rem; /* added */
    border: none;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: white;
    /* svg arrow fill=#7e6b8f purple ... code is fill%3D%22%237e6b8f */
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%237e6b8f%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}

/* Disabled styles */
.select-state-prov:disabled, .select-state-prov[aria-disabled=true] {
	color: graytext;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22graytext%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
}

.zip-postal {
    max-width: 40%;
}

/*
================================================
newsletter signup
================================================
*/

.newsletter-options {
    border: none;
}

.cta-select-newsletters {
    margin-block-start: 0;
    margin-block-end: 0;
    max-width: 100%;
    text-align: left;
    padding: 0 0 1rem 0;
}

.newsletter-options input {
    margin-bottom: 1rem;
}

.newsletter-options label {
    padding-left: 1rem;
    padding-bottom: 1rem;
}

.topics {
    margin-top: 10px;
}

.newsletter-options label {
    padding-left: 0;
}

.newsletter-options textarea {
    background-color: white;  /*  white  */
    border: none;
    border-radius: .5rem;
    color: rgba(107,91,149,1);  /* purple */
    margin-top: 10px;
    padding: .6em 1.4em .5em .8em;
    width: 100%;
}

/*
================================================
signup button
================================================
*/

button {
    display: block;
    border: none;
    border-radius: 5px;
    background: rgba(218,62,82,1);
    color: white;
    cursor: pointer;
    font-size: 2.5rem;
    font-weight: 900;
    height: 6rem;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    padding: 1rem 2rem;
    width: 95%;
    max-width: 700px;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:hover,
button:focus {
    background: rgba(218,62,82,.9);
}

button:focus {
    border: rgba(107,91,149,1) solid 1px;
}

button:active {
    transform: scale(0.95);
}


/*
================================================
focus indicators and transition properties
================================================
*/


.select-state-prov::-ms-expand {
    display: none;
}

select:focus,
select:hover {
    box-shadow: 0 0 1px 3px rgba(218,62,82,.9);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: rgba(107,91,149,1);
    outline: none;
}

select:focus {
    -webkit-transition: background-color .5s ease-out;
    -moz-transition: background-color .5s ease-out;
    -o-transition: background-color .5s ease-out;
    transition: background-color .5s ease-out;
}

.select-state-prov option {
    font-weight: normal;
}

.select-state-prov:disabled:hover, .select-state-prov[aria-disabled=true] {
	border-color: #aaa;
}

input:hover,
input:focus {
    border: rgba(218,62,82,1) solid 2px;  /*  red  */
}

input:focus {
    background-color: rgba(242,233,78,.5);
    -webkit-transition: background-color .5s ease-in;
    -moz-transition: background-color .5s ease-in;
    -o-transition: background-color .5s ease-in;
    transition: background-color .5s ease-in;
}

textarea:hover,
textarea:focus {
    border: rgba(218,62,82,1) solid 2px;
}

textarea:focus {
    background-color: rgba(242,233,78,.5);
    -webkit-transition: background-color .5s ease-in;
    -moz-transition: background-color .5s ease-in;
    -o-transition: background-color .5s ease-in;
    transition: background-color .5s ease-in;
}



/*
================================================
footer
================================================
*/

footer {
    color: rgba(107,91,149,1);
    font-size: 1.2rem;
    font-style: italic;
    text-align: center;
    width: 100%;
}




/*
================================================
================================================
media query min-width 768px
================================================
================================================
*/

@media (min-width: 768px) {

    .header-bottom-line {
        max-width: 700px;
    }

    .flex-container {
        align-items: center;
        margin: 0 auto;
        max-width: 700px;
    }

    .zip-postal {
        display: flex;
        max-width: 60%;
    }

    .contact-info-row {
        display: flex;
        justify-content: flex-end;
        width: 700px;
    }

    .contact-info-row label,
    .zip-postal label {
        flex: 1;
        padding-top: 1rem;
    }

    .contact-info-row input {
        flex: 3;
    }

    .zip-postal label {
        padding-right: 60px;
    }

    .zip-postal input {
        flex: 2;
    }

    .contact-info-row select {
        flex: 3;
    }

    button {
        width: 97%;
    }

}